@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import '~antd/dist/antd.css';

html {
  background: linear-gradient(
      to bottom right,
      transparent 0%,
      #efefef 48%,
      #efefef 52%,
      transparent 52%
    ),
    linear-gradient(
      to bottom left,
      transparent 0%,
      #efefef 48%,
      #efefef 52%,
      transparent 52%
    );
  background-size: 0.25rem 0.25rem;
  margin-bottom: 100px;
}

.ant-modal-content {
  position: relative;
  background: linear-gradient(
      to bottom right,
      transparent 0%,
      #e2e1e1 48%,
      #f1f1f1 100%,
      transparent 52%
    ),
    linear-gradient(
      to bottom left,
      transparent 0%,
      #f8f8f8 48%,
      #adadad 100%,
      transparent 52%
    );
  background-clip: padding-box;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  pointer-events: auto;
}

.ant-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  color: rgba(184, 182, 182, 0.45);
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
}

#container {
  box-shadow: 0 0 50px rgb(221, 218, 218);
  margin-bottom: 100px;
}
body {
  width: 100%;
  max-width: 700px;
  font-family: sans-serif;
  padding-bottom: 1vw;
  margin: 0 auto;
  min-height: 100vh;
  background: var(--bg);
  display: grid;
  place-items: center;
}
@property --a {
  initial-value: 0deg;
  inherits: false;
  syntax: '<angle>';
}
@property --h {
  initial-value: 0;
  inherits: false;
  syntax: '<number>';
}

h1 {
  column-span: all;
  background: #7e3030;
  color: white;
  font-size: 10vw;
  margin: 0;
  padding-left: 1rem;
}

h2 {
  background: black;
  color: white;
  font-size: 2rem;
  column-span: all;
  padding: 1rem;
  width: fit-content;
  max-width: 75%;
  margin: 20px;
}

h3 {
  color: rgb(126, 124, 124);
  font-size: 20px;
  max-width: 50%;
}

p {
  line-height: 1.5rem;
  padding: 0 1.5rem;
  font-family: 'Noticia Text', serif;
  margin-bottom: 20px;
}

.dateline {
  opacity: 0.5;
}
#edit {
  float: right;
}

.anticon {
  cursor: pointer;
}

.add-comment {
  cursor: pointer;
  text-decoration: underline;
}

.ant-modal-footer {
  padding: 10px 16px;
  text-align: right;
  background: transparent;
  border-top: none;
  border-radius: 0 0 2px 2px;
}

.container-form {
  align-items: center;
  position: relative;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(
      to bottom right,
      transparent 0%,
      #efefef 48%,
      #efefef 52%,
      transparent 52%
    ),
    linear-gradient(
      to bottom left,
      transparent 0%,
      #efefef 48%,
      #efefef 52%,
      transparent 52%
    );
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

.container-form label,
input,
.button,
textarea {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.container-form label {
  margin-bottom: 4px;
}

.container-form label:nth-of-type(2) {
  margin-top: 12px;
}

.container-form textarea,
input::placeholder {
  color: gray;
}

.container-form input {
  background: #f7f5f5;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
  border-radius: 5px;
}

.container-form textarea {
  background: #f7f5f5;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
  border-radius: 5px;
}

.container-form button {
  color: rgb(110, 109, 109);
  margin-top: 20px;
  /* background: #1da1f2; */
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
  transition: 0.5s;
}
.blog_button {
  color: white;
  margin-top: 20px;
  background: #7e3030;
  height: 40px;
  font-weight: 900;
  transition: 0.5s;
}

.blog_button:hover {
  background: #7e3030;
  color: #969494;
}

.container-form button:hover {
  box-shadow: none;
}

.comment-thread {
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
}
.m-0 {
  margin: 0;
}

/* Comment */
.comments-container {
  margin: 10px;
  background-color: #fff;
  /* border: 2px solid rgb(245, 245, 245); */
  padding: 20px;
}

.comment {
  position: relative;
  margin: 20px auto;
}
.comment-heading {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 14px;
}

.comment-body {
  margin-left: 10px;
}
.comment-info {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
.comment-author {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  text-decoration: none;
}
.comment-author:hover {
  text-decoration: underline;
}
.comments-header {
  color: #55b0fa;
  cursor: pointer;
  margin-bottom: 20px;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.article {
  border-bottom: 10px solid black;
  margin-bottom: 50px;
}
.comments {
  padding: 10px;
  align-items: left;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 5em;
  padding: 1em;
  margin: 20px;
}

.label {
  opacity: 0.5;
  color: #1da1f2;
}

.done_edit {
  top: 0;
  float: right;
  color: white;
  background: #969494;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  margin-right: 10px;
  margin-top: 9px;
}

.section {
  position: relative;
  width: 100%;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}
.full-height {
  min-height: 100vh;
}

[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
.modal-btn:checked + label,
.modal-btn:not(:checked) + label {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 240px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  background-color: #7e3030;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
}
.modal-btn:not(:checked) + label:hover {
  background-color: #351b1b;
  color: #e7eaf3;
}
.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil {
  margin-left: 10px;
  font-size: 18px;
}
.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 110;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background-color: #7e3030;
  color: #102770;
  font-family: 'unicons';
  content: '\eac6';
  box-shadow: 0 12px 25px 0 rgba(16, 39, 112, 0.25);
  transition: all 200ms linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after {
  background-color: #7e3030;
  color: #ffeba7;
}
.modal-btn:checked + label:after {
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease,
    background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.modal {
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31, 32, 41, 0.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}
.modal-btn:checked ~ .modal {
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #fff;
  -ms-flex-item-align: center;
  align-self: center;
  box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}
.modal-wrap img {
  display: block;
  width: 100%;
  height: auto;
}
.modal-wrap p {
  padding: 20px 30px 0 30px;
}
.modal-btn:checked ~ .modal .modal-wrap {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  display: block;
  z-index: 1000;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
  filter: brightness(10%);
  transition: filter 250ms 700ms linear;
}
.modal-btn:checked ~ .logo img {
  filter: brightness(100%);
  transition: all 250ms linear;
}

@media screen and (max-width: 500px) {
  .modal-wrap {
    width: calc(100% - 40px);
    padding-bottom: 15px;
  }
  .modal-wrap p {
    padding: 15px 20px 0 20px;
  }
}

.loader {
  padding: 2rem 4rem;
  font-family: monospace;
  font-weight: bold;
  color: #fff;
  border-style: solid;
  border-width: 1vmin;
  font-size: 2rem;
  --charge: hsl(var(--h, 0), 80%, 50%);
  -o-border-image: conic-gradient(
      var(--charge) var(--a),
      transparent calc(var(--a) + 0.5deg)
    )
    30;
  border-image: conic-gradient(
      var(--charge) var(--a),
      transparent calc(var(--a) + 0.5deg)
    )
    30;
  -webkit-animation: load 2s infinite ease-in-out;
  animation: load 2s infinite ease-in-out;
}
@-webkit-keyframes load {
  0%,
  10% {
    --a: 0deg;
    --h: 0;
  }
  100% {
    --a: 360deg;
    --h: 100;
  }
}
@keyframes load {
  0%,
  10% {
    --a: 0deg;
    --h: 0;
  }
  100% {
    --a: 360deg;
    --h: 100;
  }
}
