@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import '~antd/dist/antd.css';

html {
  background: linear-gradient(
      to bottom right,
      transparent 0%,
      #efefef 48%,
      #efefef 52%,
      transparent 52%
    ),
    linear-gradient(
      to bottom left,
      transparent 0%,
      #efefef 48%,
      #efefef 52%,
      transparent 52%
    );
  background-size: 0.25rem 0.25rem;
  margin-bottom: 100px;
}



#container {
  box-shadow: 0 0 50px rgb(221, 218, 218);
  margin-bottom: 100px;
}
body {
  width: 100%;
  max-width: 700px;
  font-family: sans-serif;
  padding-bottom: 1vw;
  margin: 0 auto;
  min-height: 100vh;
  background: var(--bg);
  display: grid;
  place-items: center;
}
@property --a {
  initial-value: 0deg;
  inherits: false;
  syntax: '<angle>';
}
@property --h {
  initial-value: 0;
  inherits: false;
  syntax: '<number>';
}

h1 {
  column-span: all;
  background: #7e3030;
  color: white;
  font-size: 10vw;
  margin: 0;
  padding-left: 1rem;
}

h2 {
  background: black;
  color: white;
  font-size: 2rem;
  column-span: all;
  padding: 1rem;
  width: fit-content;
  max-width: 75%;
  margin: 20px;
}

h3 {
  color: rgb(126, 124, 124);
  font-size: 20px;
  max-width: 50%;
}

p {
  line-height: 1.5rem;
  padding: 0 1.5rem;
  font-family: 'Noticia Text', serif;
  margin-bottom: 20px;
}

.dateline {
  opacity: 0.5;
}
#edit {
  float: right;
}

.anticon {
  cursor: pointer;
}

.add-comment {
  cursor: pointer;
  text-decoration: underline;
}



.container-form {
  align-items: center;
  position: relative;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
 
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

.container-form label,
input,
.button,
textarea {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.container-form label {
  margin-bottom: 4px;
}

.container-form label:nth-of-type(2) {
  margin-top: 12px;
}

.container-form textarea,
input::placeholder {
  color: gray;
}

.container-form input {
  background: #f7f5f5;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
  border-radius: 5px;
}

.container-form textarea {
  background: #f7f5f5;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
  border-radius: 5px;
}

.container-form button {
  color: rgb(110, 109, 109);
  margin-top: 20px;
  /* background: #1da1f2; */
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
  transition: 0.5s;
}
.blog_button {
  color: white;
  margin-top: 20px;
  background: #7e3030;
  height: 40px;
  font-weight: 900;
  transition: 0.5s;
}

.blog_button:hover {
  background: #7e3030;
  color: #969494;
}

.container-form button:hover {
  box-shadow: none;
}

.comment-thread {
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
}
.m-0 {
  margin: 0;
}

/* Comment */
.comments-container {
  margin: 10px;
  background-color: #fff;
  /* border: 2px solid rgb(245, 245, 245); */
  padding: 20px;
}

.comment {
  position: relative;
  margin: 20px auto;
}
.comment-heading {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 14px;
}

.comment-body {
  margin-left: 10px;
}
.comment-info {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
.comment-author {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  text-decoration: none;
}
.comment-author:hover {
  text-decoration: underline;
}
.comments-header {
  color: #55b0fa;
  cursor: pointer;
  margin-bottom: 20px;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.article {
  border-bottom: 10px solid black;
  margin-bottom: 50px;
}
.comments {
  padding: 10px;
  align-items: left;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 5em;
  padding: 1em;
  margin: 20px;
}

.label {
  opacity: 0.5;
  color: #1da1f2;
}

.done_edit {
  top: 0;
  float: right;
  color: white;
  background: #969494;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  margin-right: 10px;
  margin-top: 9px;
}


.loader {
  padding: 2rem 4rem;
  font-family: monospace;
  font-weight: bold;
  color: #fff;
  border-style: solid;
  border-width: 1vmin;
  font-size: 2rem;
  --charge: hsl(var(--h, 0), 80%, 50%);
  -o-border-image: conic-gradient(
      var(--charge) var(--a),
      transparent calc(var(--a) + 0.5deg)
    )
    30;
  border-image: conic-gradient(
      var(--charge) var(--a),
      transparent calc(var(--a) + 0.5deg)
    )
    30;
  -webkit-animation: load 2s infinite ease-in-out;
  animation: load 2s infinite ease-in-out;
}
@-webkit-keyframes load {
  0%,
  10% {
    --a: 0deg;
    --h: 0;
  }
  100% {
    --a: 360deg;
    --h: 100;
  }
}
@keyframes load {
  0%,
  10% {
    --a: 0deg;
    --h: 0;
  }
  100% {
    --a: 360deg;
    --h: 100;
  }
}


.button {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #fff;
  color: #9191E9;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
}

.ant-modal-content {
  background-color: #816a6a;
}
.ant-modal-footer {
  padding: 10px 16px;
  text-align: right;
  background: transparent;
  border-top: none;
  border-radius: 0 0 2px 2px;
}